<div class="row text-center">
    <div class="col-md-6 offset-3">
    <h1 class="text-info">No no no no no no, go back right now!</h1>
    <hr />
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Go Back!</a>
    </div>
</div>