@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Instrukcja</h1>

<div>
    W górnym pasku znajdują się dwie znaczące pozycje;
    To Do List oraz User, w celu dodania nowego użytkownika możemy użyć przycisku "Add New".
    <p>Po wpisaniu Imienia i nazwiska oraz przekopiowaniu adresu URL (kod zawiera skrypt pozwalający na podgląd zdjęcia), można dodawać zadania,</p>
    Aby to zrobić należy skorzystać z zakładki To Do Lists, przy użyciu opcji "Add new".
    <p>Po uzupełnieniu wszystkich wymaganych pól i przypisaniu zadania do konkretnej osoby możemy je podejrzeć na stronie głównej zakładki "To Do lists", gdzie również możemy ją edytować, podejrzeć szczegóły, oraz usunąć</p>
    <p>Gdy zadania zostaną przypisane do danej osoby, możemy sprawdzić aktualną listę wraz z priorytetem zadania w zakładce "Users",na której to możemy edytować, usunąć, oraz podejrzeć szczegóły użytkownika.</p>
</div>

