@{
    ViewData["Title"] = "Home Page";
}
<h1>Instrukcja</h1>

<div>
    W górnym pasku znajdują się dwie znaczące pozycje;
    To Do List oraz User, w celu dodania nowego użytkownika możemy użyć przycisku "Add New".
    <p>Po wpisaniu Imienia,nazwiska, emaila oraz przekopiowaniu adresu URL (kod zawiera skrypt pozwalający na podgląd zdjęcia), można dodawać zadania,</p>
    Aby to zrobić należy skorzystać z zakładki To Do Lists, przy użyciu opcji "Add new".
    <p>Po uzupełnieniu wszystkich wymaganych pól i przypisaniu zadania do konkretnej osoby możemy je podejrzeć na stronie głównej zakładki "To Do lists", gdzie również możemy je edytować, podejrzeć szczegóły, oraz usunąć</p>
    <p>Za pomocą przyciska Upcoming Tasks/All task możemy ułożyć zadania po dacie, od zbliżających się terminów.
    </p>
    <p>
        Następnie za pomocą kolorów możemy sprawdzić realizację zadań :
        Kolor czerwony - zadanie niezrealizowane
        Kolor zielony -zrealizowane
        kolor żółty - zadanie ze zbliżającym się terminem realizacji (1 dzień)
    </p>
    <p> W lewym dolnym rogu znajduje się przycisk "Send reminder" który to służy do wysłania maila przypominającego o zadaniach ze zbliżającym się terminem realizacji (kolor żółty).</p>
    <p>
        Email otrzymają wszystkie osoby kwalifikujące się do powyższszego, z uzupełnionym emailem. 
    </p>
</div>

