@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Instrukcja</h1>

<div>
    W górnym pasku znajdują się dwie znaczące pozycje; <p>
    </p> To Do List oraz User, w celu dodania nowego użytkownika możemy użyć przycisku "Add New".

    Po wpisaniu Imienia i nazwiska oraz przekopiowaniu adresu URL (kod zawiera skrypt pozwalający na podgląd zdjęcia), można dodawać zadania,
    Aby to zrobić należy skorzystać z 
</div>

