@using TODO.Data.Enums
@using TODO.Data.Models.ViewModels
@model NoteVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>To do!</h4>
<hr />
<div class="row text">
    <div class="col-md-8 offset-2">
      <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NoteName" class="control-label"></label>
                <input asp-for="NoteName" class="form-control" />
                <span asp-validation-for="NoteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteMessage" class="control-label"></label>
                <input asp-for="NoteMessage" class="form-control" />
                <span asp-validation-for="NoteMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteDate" class="control-label"></label>
                <input asp-for="NoteDate" class="form-control" />
                <span asp-validation-for="NoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" asp-items="Html.GetEnumSelectList<Priority>()" class="form-control">
                    <option selected="selected" value="">Please choose Priority</option>
                    </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="IsDone" class="control-label"></label>
                <select asp-for="IsDone" asp-items="Html.GetEnumSelectList<IsDone>()" class="form-control">
                    <option selected="selected" value="">Please choose is task already done ? </option> 
                    </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
                     <div class="form-group">
                <label asp-for="TODOUserId" class="control-label"></label>
                    @Html.DropDownListFor(m => m.TODOUserId, new SelectList(ViewBag.users, nameof(TODOUserVM.Id), nameof(TODOUserVM.Name)),
                "-Please select owner-",
                new {
                    @class = "form-control"
                })
                <span asp-validation-for="TODOUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" formmethod="post" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
      </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
